<?xml version="1.0" encoding="UTF-8"?>
<!--
Levels
    OFF (most specific, no logging)
    FATAL (most specific, little data)
    ERROR
    WARN
    INFO
    DEBUG
    TRACE (least specific, a lot of data)
    ALL (least specific, all data)
-->
<Configuration status="INFO">
  <Appenders>
    <RollingFile
     name="File"
     fileName="logs/TimetableScheduler.log"
     filePattern="logs/TimetableScheduler-%i.log"
    >
      <PatternLayout pattern="%d{EEE dd MMM yyyy 'at' HH:mm:ss z} %level %c [%t] %m%n"
      />
      <Policies>
        <OnStartupTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy min="1" max="1">
        <Delete basePath="logs">
        <IfFileName regex="TimetableScheduler-1.log"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{EEE dd MMM yyyy 'at' HH:mm:ss z} %level %c [%t] %m%n}"
      />
    </Console>
    <Async name="Async">
      <AppenderRef ref="File"/>
      <AppenderRef ref="Console"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="com.gmail.guymarshall9.timetablescheduler.TimetableScheduler" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Logger name="ianmarshall.Supervisor" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Logger name="ianmarshall.Worker" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
